<!DOCTYPE html>
<html>
<head>
	<title>ToDo List</title>
</head>
<body>
	<h1>My ToDo List</h1>
	<a href="/">Home</a>
	<!-- Create a new project form -->
	<form method="POST" action="/create_project">
		<label for="project_name">Project Name:</label>
		<input type="text" name="project_name" id="project_name" required>
		<button type="submit">Create Project</button>
	</form>

	<h2>Projects</h2>
	<ul>
		{% for project in projects %}
			<li>
				{{ project[1] }}
				<a href="/delete_project/{{ project[0] }}">Delete</a>
			</li>
		{% endfor %}
	</ul>

	<form method="POST" action="/create_task">
		<label for="task_name">Task Name:</label>
		<input type="text" name="task_name" id="task_name" required>

		<label for="project">Project:</label>
		<select name="project" id="project" required>
			{% for project in projects %}
				<option value="{{ project[0] }}">{{ project[1] }}</option>
			{% endfor %}
		</select>

		<button type="submit">Create Task</button>
	</form>

	{% if tasks %}
	{% for project in projects %}
		<!-- List of tasks for selected project -->
		<h2>Tasks for {{ project[1] }}</h2>
		<ul>
			{% for task in tasks %}
				{% if task[2] == project[0] %}
					<li>
						{{ task[1] }}
						{% if task[3] %}
							<span>(Completed✅)</span>
							<a href="/delete_task/{{ task[0] }}">Delete</a>
						{% else %}
							<a href="/complete_task/{{ task[0] }}">Complete</a>
							<a href="/delete_task/{{ task[0] }}">Delete</a>
						{% endif %}
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	{% endfor %}
{% endif %}


	<!-- Filter tasks by date -->
	<!-- <h2>Filter Tasks</h2>
	<form method="POST" action="/filter_tasks">
		<label for="date">Date:</label>
		<input type="date" name="date" id="date" required>

		<label for="status">Status:</label>
		<select name="status" id="status" required>
			<option value="today">Today</option>
			<option value="past">Past (Incomplete)</option>
			<option value="future">Future</option>
		</select>

		<button type="submit">Filter</button>
	</form> -->

</body>
</html>
